In [1]:
import pandas as pd
import numpy as np
from datetime import time
import math

In [4]:
speed_1501 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2015년 속도/2015년 1월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_1502 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2015년 속도/2015년 2월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_1503 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2015년 속도/2015년 3월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_1504 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2015년 속도/2015년 4월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_1505 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2015년 속도/2015년 5월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_1506 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2015년 속도/2015년 6월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_1507 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2015년 속도/2015년 7월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_1508 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2015년 속도/2015년 8월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_1509 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2015년 속도/2015년 9월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_1510 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2015년 속도/2015년 10월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_1511 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2015년 속도/2015년 11월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_1512 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2015년 속도/2015년 12월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_15_1 = pd.concat([speed_1501, speed_1502, speed_1503, speed_1504, speed_1505, speed_1506])
speed_15_2 = pd.concat([speed_1507, speed_1508, speed_1509, speed_1510, speed_1511, speed_1512])
speed_15 = pd.concat([speed_15_1, speed_15_2])

In [5]:
speed_15.drop(["일자", "방향", "요일","링크아이디", "시점명", "종점명", "거리"], axis=1, inplace=True)

In [6]:
speed_15

,도로명,01시,02시,03시,04시,05시,06시,07시,08시,09시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
0,4.19로,52.16,86.68,103.00,103.00,103.00,79.63,40.88,28.92,39.33,...,49.25,43.08,46.50,49.33,44.14,47.50,31.28,21.42,19.33,22.00
1,4.19로,16.77,17.92,19.90,24.75,19.55,26.74,25.18,22.73,19.14,...,13.69,14.62,16.63,13.83,15.68,14.46,17.43,18.34,17.93,21.65
2,4.19로,31.05,32.57,32.84,42.85,34.13,26.10,31.18,27.47,28.57,...,23.35,19.88,26.64,22.88,20.18,22.67,22.01,27.81,23.53,23.70
3,4.19로,44.68,41.58,33.00,33.00,33.00,35.70,34.83,33.00,45.11,...,40.75,41.33,32.00,68.00,68.73,99.10,68.39,34.17,17.00,30.33
4,가락로,19.42,19.93,32.28,38.08,31.83,27.75,18.83,20.33,18.54,...,18.57,13.53,15.43,17.42,16.80,26.85,19.74,18.17,23.33,21.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143790,휘경로,41.42,34.08,40.88,39.83,41.33,39.21,35.76,32.58,30.46,...,33.45,33.33,31.38,29.33,26.21,29.46,28.61,33.89,31.92,35.19
143791,휘경로,31.13,30.98,36.96,32.25,35.45,36.06,34.50,34.88,28.18,...,27.50,23.41,25.04,25.50,21.71,23.28,24.59,24.80,26.37,37.13
143792,휘경로,17.73,15.90,29.30,28.58,31.78,28.68,28.51,22.25,20.68,...,17.53,15.95,19.65,18.93,18.48,11.80,18.70,16.64,11.99,18.56
143793,희우정로,29.18,34.80,38.73,39.38,33.17,34.82,27.25,26.13,25.32,...,25.92,24.00,24.58,23.29,23.83,20.35,20.92,17.38,21.22,23.45
143794,희우정로,41.88,34.71,39.21,42.08,34.54,28.71,20.96,20.00,21.96,...,19.83,16.13,15.16,17.71,15.73,21.48,19.83,20.71,20.64,20.15

In [7]:
speed_1601 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2016년 속도/2016년 1월 통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_1602 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2016년 속도/2016년 2월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_1603 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2016년 속도/2016년 3월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_1604 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2016년 속도/2016년 4월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_1605 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2016년 속도/2016년 5월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_1606 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2016년 속도/2016년 6월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_1607 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2016년 속도/2016년 7월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_1608 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2016년 속도/2016년 8월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_1609 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2016년 속도/2016년 9월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_1610 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2016년 속도/2016년 10월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_1611 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2016년 속도/2016년 11월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_1612 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2016년 속도/2016년 12월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_16_1 = pd.concat([speed_1601, speed_1602, speed_1603, speed_1604, speed_1605, speed_1606])
speed_16_2 = pd.concat([speed_1607, speed_1608, speed_1609, speed_1610, speed_1611, speed_1612])
speed_16 = pd.concat([speed_16_1, speed_16_2])

In [8]:
speed_16.drop(["일자", "방향", "요일","링크아이디", "시점명", "종점명", "거리", "기타"], axis=1, inplace=True)

In [9]:
speed_16

,도로명,01시,02시,03시,04시,05시,06시,07시,08시,09시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
0,4.19로,47.88,40.40,44.29,65.32,86.01,50.89,45.47,36.83,47.69,...,42.98,43.44,61.40,60.27,47.14,49.63,45.44,48.69,50.38,39.22
1,4.19로,44.60,27.88,51.79,59.74,72.35,43.17,40.05,35.37,29.54,...,40.12,35.62,54.45,47.86,34.41,38.96,31.72,48.95,44.81,50.90
2,4.19로,27.88,31.12,31.55,31.55,31.64,28.38,26.76,29.03,25.16,...,19.27,22.19,20.71,18.03,16.84,19.33,19.58,21.34,22.90,22.74
3,4.19로,15.42,18.12,24.98,26.26,27.13,22.25,19.70,18.84,21.46,...,10.21,9.24,8.70,10.27,9.79,13.52,14.25,14.42,13.50,15.21
4,가락로,29.92,29.56,36.14,33.50,34.57,30.98,28.46,22.75,26.92,...,19.41,22.63,21.79,21.96,22.81,19.75,23.70,24.08,26.08,25.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147612,휘경로,29.92,31.88,34.88,35.56,35.95,33.85,33.15,32.58,31.37,...,25.84,27.90,26.15,27.69,26.83,26.53,27.59,28.52,29.94,30.31
147613,휘경로,25.96,27.91,28.46,30.34,33.28,32.73,33.85,28.58,25.78,...,26.92,27.86,23.80,22.37,25.66,26.26,24.35,24.38,22.55,24.47
147614,휘경로,20.04,20.72,21.64,26.01,29.75,30.21,33.99,23.75,23.58,...,19.21,20.05,18.63,17.45,18.97,16.78,17.54,17.20,18.24,20.78
147615,희우정로,24.57,27.97,30.74,32.72,32.51,31.31,30.96,25.39,24.05,...,20.06,18.56,16.94,17.18,18.99,18.36,19.36,21.07,22.96,23.01
147616,희우정로,18.18,24.34,32.34,34.70,34.67,21.98,22.32,21.62,17.75,...,15.91,14.98,13.51,14.79,15.65,13.56,16.09,17.47,19.21,18.72

In [10]:
speed_1701 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2017년 속도/2017년 1월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_1702 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2017년 속도/2017년 2월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_1703 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2017년 속도/2017년 3월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_1704 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2017년 속도/2017년 4월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_1705 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2017년 속도/2017년 5월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_1706 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2017년 속도/2017년 6월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_1707 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2017년 속도/2017년 7월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_1708 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2017년 속도/2017년 8월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_1709 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2017년 속도/2017년 9월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_1710 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2017년 속도/2017년 10월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_1711 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2017년 속도/2017년 11월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_1712 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2017년 속도/2017년 12월 통행속도.csv', header = 0, encoding = 'cp949', low_memory=False )
speed_17_1 = pd.concat([speed_1701, speed_1702, speed_1703, speed_1704, speed_1705, speed_1706])
speed_17_2 = pd.concat([speed_1707, speed_1708, speed_1709, speed_1710, speed_1711, speed_1712])
speed_17 = pd.concat([speed_17_1, speed_17_2])

In [11]:
speed_17.drop(["일자", "방향", "요일", "링크아이디", "시점명", "종점명","거리"],axis=1,inplace=True)

In [12]:
speed_17

,도로명,01시,02시,03시,04시,05시,06시,07시,08시,09시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
0,4.19로,45.23,28.27,52.52,60.58,73.37,43.77,40.62,35.87,29.95,...,39.63,36.12,55.22,48.54,34.89,39.51,32.17,49.64,45.44,51.74
1,4.19로,18.32,17.06,20.30,24.61,25.30,19.70,18.83,17.94,15.66,...,11.35,10.08,9.96,11.28,10.74,13.39,13.22,16.42,14.94,17.46
2,4.19로,27.69,29.63,30.35,33.53,31.56,27.23,26.28,26.07,27.31,...,17.88,18.16,18.24,20.09,21.05,22.29,21.25,21.86,20.62,23.89
3,4.19로,49.49,41.76,45.79,67.52,88.91,52.60,47.00,38.07,49.29,...,44.42,44.91,63.47,62.30,48.73,51.30,46.97,50.32,52.08,40.54
4,가락로,21.58,19.03,23.47,27.68,24.26,31.25,22.90,21.58,16.30,...,11.87,18.96,15.39,17.77,17.40,17.40,18.17,17.78,19.50,23.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147536,휘경로,30.82,31.24,33.99,31.98,38.86,36.41,37.39,36.73,33.24,...,33.42,30.33,28.89,30.16,29.72,30.22,31.79,31.03,30.71,33.45
147537,휘경로,29.81,32.71,31.74,32.43,37.06,35.35,34.37,30.73,28.76,...,28.41,28.50,30.26,25.94,24.84,28.06,22.25,27.21,28.48,30.59
147538,휘경로,22.18,23.40,23.06,28.09,27.77,40.00,24.68,24.26,21.66,...,18.53,20.46,21.41,21.19,19.04,17.24,22.70,21.48,21.08,22.99
147539,희우정로,22.83,29.44,31.43,31.91,32.92,28.24,24.45,17.93,25.69,...,20.49,22.10,23.51,22.25,20.94,21.75,22.13,23.76,21.50,22.97
147540,희우정로,23.99,28.95,27.04,31.96,28.82,23.23,22.76,21.30,17.05,...,17.26,19.14,21.83,20.06,17.17,18.29,17.78,22.46,10.36,19.59

In [13]:
speed_1801 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2018년 속도/2018년 01월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_1802 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2018년 속도/2018년 02월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_1803 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2018년 속도/2018년 03월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_1804 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2018년 속도/2018년 04월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_1805 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2018년 속도/2018년 05월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_1806 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2018년 속도/2018년 06월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_1807 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2018년 속도/2018년 07월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_1808 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2018년 속도/2018년 08월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_1809 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2018년 속도/2018년 09월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_1810 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2018년 속도/2018년 10월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_1811 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2018년 속도/2018년 11월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_1812 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2018년 속도/2018년 12월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_18_1 = pd.concat([speed_1801, speed_1802, speed_1803, speed_1804, speed_1805, speed_1806])
speed_18_2 = pd.concat([speed_1807, speed_1808, speed_1809, speed_1810, speed_1811, speed_1812])
speed_18 = pd.concat([speed_18_1, speed_18_2])

In [14]:
speed_18.drop(["일자", "방향", "요일", "링크아이디", "시점명", "종점명", "거리", "차선수", "기능유형구분", "도심/외곽구분", "권역구분"], axis = 1, inplace = True)

In [15]:
speed_18

,도로명,01시,02시,03시,04시,05시,06시,07시,08시,09시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
0,4.19로,44.91,28.08,52.15,60.16,72.86,43.47,40.34,35.62,29.74,...,40.40,35.87,54.83,48.20,34.65,39.23,31.94,49.30,45.13,51.36
1,4.19로,16.74,20.43,23.53,22.49,29.17,21.70,22.47,17.63,18.66,...,10.58,10.71,13.98,16.01,14.00,15.19,17.22,14.93,15.96,15.65
2,4.19로,24.50,28.04,31.89,38.85,34.98,28.80,27.30,30.50,29.80,...,19.97,19.27,19.22,19.97,20.41,19.97,20.97,23.13,24.41,23.79
3,4.19로,49.64,41.88,45.92,67.72,89.17,52.76,47.14,38.18,49.44,...,44.55,45.04,63.66,62.49,48.87,51.45,47.11,50.47,52.23,40.56
4,가락로,16.85,19.77,23.73,23.95,26.57,24.44,22.93,21.10,18.11,...,17.38,15.97,15.96,16.16,18.30,17.04,17.13,19.51,18.49,18.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146971,휘경로,32.40,36.71,36.97,35.00,35.57,33.89,32.17,29.80,32.21,...,29.10,29.77,32.01,28.10,25.09,26.17,26.80,29.99,29.77,32.88
146972,휘경로,27.19,31.57,22.41,31.97,25.45,26.92,22.26,21.61,20.62,...,20.95,19.20,17.04,13.50,14.59,14.75,18.48,20.70,18.74,21.04
146973,휘경로,22.64,25.55,23.91,29.06,25.23,24.57,18.95,22.29,19.76,...,18.25,15.47,19.18,20.97,19.12,17.02,16.42,16.70,17.41,20.63
146974,희우정로,22.50,27.16,26.16,27.34,19.09,28.90,23.28,27.38,22.23,...,19.86,23.08,20.09,20.74,21.77,20.59,20.84,22.98,22.22,20.32
146975,희우정로,18.29,19.71,21.87,27.49,20.54,16.73,18.41,15.41,17.61,...,17.13,16.54,14.35,15.95,18.56,17.63,18.51,18.47,17.15,17.32

In [16]:
speed_1901 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2019년 속도/2019년 01월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_1902 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2019년 속도/2019년 02월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_1903 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2019년 속도/2019년 03월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_1904 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2019년 속도/2019년 04월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_1905 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2019년 속도/2019년 05월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_1906 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2019년 속도/2019년 06월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_1907 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2019년 속도/2019년 07월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_1908 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2019년 속도/2019년 08월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_1909 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2019년 속도/2019년 09월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_1910 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2019년 속도/2019년 10월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_1911 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2019년 속도/2019년 11월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_1912 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2019년 속도/2019년 12월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_19_1 = pd.concat([speed_1901, speed_1902, speed_1903, speed_1904, speed_1905, speed_1906])
speed_19_2 = pd.concat([speed_1907, speed_1908, speed_1909, speed_1910, speed_1911, speed_1912])
speed_19 = pd.concat([speed_19_1, speed_19_2])

In [17]:
speed_19.drop(["일자", "방향", "요일", "링크아이디", "시점명", "종점명", "거리", "차선수", "기능유형구분", "도심/외곽구분", "권역구분"], axis = 1, inplace = True)

In [18]:
speed_19

,도로명,01시,02시,03시,04시,05시,06시,07시,08시,09시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
0,4.19로,44.37,27.74,51.52,59.43,71.98,42.95,39.85,35.19,29.39,...,39.92,39.04,54.17,47.62,34.24,43.74,34.32,48.70,48.30,50.87
1,4.19로,18.05,18.37,21.11,19.49,25.15,22.09,22.32,19.17,18.78,...,14.30,12.90,11.82,13.35,13.73,17.36,15.34,18.02,19.97,21.85
2,4.19로,24.51,27.40,28.12,29.55,30.29,29.94,26.68,27.06,24.79,...,20.26,18.05,20.99,22.02,20.61,23.01,23.21,23.82,25.37,25.35
3,4.19로,48.56,40.97,44.93,66.25,87.24,51.61,46.12,37.36,48.37,...,43.59,44.07,62.28,61.14,47.81,50.33,46.09,49.38,51.10,39.82
4,가락로,22.47,15.57,20.38,29.20,28.38,20.34,21.98,22.39,19.92,...,19.02,23.67,25.47,15.53,18.35,13.99,18.32,21.83,17.64,21.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148020,휘경로,31.27,33.13,34.76,32.42,38.26,35.87,37.22,27.98,30.23,...,32.44,33.06,30.96,32.00,29.35,27.53,31.19,31.73,30.42,36.71
148021,휘경로,25.36,25.28,26.41,31.14,28.44,28.30,25.67,26.87,22.74,...,13.64,16.27,16.43,12.41,15.19,15.09,17.28,21.08,19.53,19.89
148022,휘경로,20.94,27.84,26.11,28.73,28.70,30.84,22.97,30.78,24.04,...,24.63,19.76,23.54,23.85,19.65,16.77,22.02,17.57,21.16,22.50
148023,희우정로,25.06,27.43,27.00,22.87,24.07,23.98,26.96,22.37,20.59,...,22.22,21.69,23.91,23.78,20.51,21.88,19.06,19.00,18.47,20.57
148024,희우정로,17.08,15.19,21.08,18.49,17.20,20.29,23.86,17.25,15.41,...,17.21,18.66,18.97,17.25,15.33,17.70,16.07,16.93,17.67,17.97

In [19]:
speed_2001 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2020년 속도/2020년 1월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_2002 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2020년 속도/2020년 2월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_2003 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2020년 속도/2020년 3월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_2004 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2020년 속도/2020년 4월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_2005 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2020년 속도/2020년 5월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_2006 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2020년 속도/2020년 6월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_2007 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2020년 속도/2020년 7월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_2008 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2020년 속도/2020년 8월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_2009 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2020년 속도/2020년 9월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_2010 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2020년 속도/2020년 10월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_2011 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2020년 속도/2020년 11월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_2012 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/2020년 속도/2020년 12월 서울시 차량통행속도.csv', header = 0, encoding = 'utf-8', low_memory=False )
speed_20_1 = pd.concat([speed_2001, speed_2002, speed_2003, speed_2004, speed_2005, speed_2006])
speed_20_2 = pd.concat([speed_2007, speed_2008, speed_2009, speed_2010, speed_2011, speed_2012])
speed_20 = pd.concat([speed_20_1, speed_20_2])

In [20]:
speed_20.drop(["일자", "방향", "요일", "링크아이디", "시점명", "종점명", "거리", "차선수", "기능유형구분","도심/외곽구분", "권역구분"], axis = 1, inplace = True)

In [21]:
speed_20

,도로명,01시,02시,03시,04시,05시,06시,07시,08시,09시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
0,4.19로,45.14,28.21,52.41,60.46,73.22,43.69,40.54,35.80,29.90,...,40.61,51.28,55.11,48.44,34.82,39.43,32.10,49.54,49.11,51.92
1,4.19로,16.28,20.46,18.89,16.32,16.58,25.75,22.83,18.35,15.28,...,15.48,13.13,12.39,14.89,18.77,17.81,16.51,16.04,15.68,22.01
2,4.19로,25.69,23.77,26.05,28.98,28.02,26.49,26.02,24.63,25.05,...,21.77,19.71,22.34,23.11,22.19,22.85,21.27,24.36,25.35,26.98
3,4.19로,49.20,41.51,45.51,67.12,88.38,52.29,46.72,37.85,49.00,...,44.16,44.64,63.09,61.94,48.44,50.99,46.69,50.03,51.77,40.29
4,가락로,20.86,17.67,18.18,21.49,28.46,24.17,21.08,21.06,20.31,...,18.67,19.02,16.41,17.23,15.62,19.75,17.54,18.02,22.15,18.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149009,휘경로,38.00,37.00,36.00,39.00,36.00,34.00,35.00,31.00,29.00,...,33.00,30.00,29.00,29.00,29.00,28.00,30.00,33.00,34.00,35.00
149010,휘경로,32.00,20.00,37.00,21.00,25.00,22.00,16.00,14.00,18.00,...,16.00,17.00,15.00,16.00,13.00,13.00,15.00,21.00,17.00,21.00
149011,휘경로,22.00,29.00,31.00,38.00,30.00,22.00,28.00,22.00,23.00,...,21.00,19.00,18.00,19.00,19.00,18.00,20.00,18.00,19.00,21.00
149012,희우정로,25.00,26.00,24.00,27.00,24.00,24.00,19.00,26.00,26.00,...,19.00,20.00,23.00,19.00,20.00,21.00,21.00,20.00,21.00,25.00
149013,희우정로,20.00,22.00,24.00,18.00,24.00,22.00,17.00,16.00,17.00,...,19.00,21.00,19.00,19.00,17.00,20.00,20.00,20.00,22.00,19.00

In [22]:
speed = pd.concat([speed_15, speed_16, speed_17, speed_18, speed_19, speed_20])
speed

,도로명,01시,02시,03시,04시,05시,06시,07시,08시,09시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
0,4.19로,52.16,86.68,103.00,103.00,103.00,79.63,40.88,28.92,39.33,...,49.25,43.08,46.50,49.33,44.14,47.50,31.28,21.42,19.33,22.00
1,4.19로,16.77,17.92,19.90,24.75,19.55,26.74,25.18,22.73,19.14,...,13.69,14.62,16.63,13.83,15.68,14.46,17.43,18.34,17.93,21.65
2,4.19로,31.05,32.57,32.84,42.85,34.13,26.10,31.18,27.47,28.57,...,23.35,19.88,26.64,22.88,20.18,22.67,22.01,27.81,23.53,23.70
3,4.19로,44.68,41.58,33.00,33.00,33.00,35.70,34.83,33.00,45.11,...,40.75,41.33,32.00,68.00,68.73,99.10,68.39,34.17,17.00,30.33
4,가락로,19.42,19.93,32.28,38.08,31.83,27.75,18.83,20.33,18.54,...,18.57,13.53,15.43,17.42,16.80,26.85,19.74,18.17,23.33,21.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149009,휘경로,38.00,37.00,36.00,39.00,36.00,34.00,35.00,31.00,29.00,...,33.00,30.00,29.00,29.00,29.00,28.00,30.00,33.00,34.00,35.00
149010,휘경로,32.00,20.00,37.00,21.00,25.00,22.00,16.00,14.00,18.00,...,16.00,17.00,15.00,16.00,13.00,13.00,15.00,21.00,17.00,21.00
149011,휘경로,22.00,29.00,31.00,38.00,30.00,22.00,28.00,22.00,23.00,...,21.00,19.00,18.00,19.00,19.00,18.00,20.00,18.00,19.00,21.00
149012,희우정로,25.00,26.00,24.00,27.00,24.00,24.00,19.00,26.00,26.00,...,19.00,20.00,23.00,19.00,20.00,21.00,21.00,20.00,21.00,25.00
149013,희우정로,20.00,22.00,24.00,18.00,24.00,22.00,17.00,16.00,17.00,...,19.00,21.00,19.00,19.00,17.00,20.00,20.00,20.00,22.00,19.00

In [23]:
# 속도 데이터 결측치 평균값으로 처리
speed.fillna({"01시":speed["01시"].mean(), "02시":speed["02시"].mean(), "03시":speed["03시"].mean(), "04시":speed["04시"].mean(), "05시":speed["05시"].mean(), 
"06시":speed["06시"].mean(), "07시":speed["07시"].mean(), "08시":speed["08시"].mean(), "09시":speed["09시"].mean(), "10시":speed["10시"].mean(), 
"11시":speed["11시"].mean(), "12시":speed["12시"].mean(), "13시":speed["13시"].mean(), "14시":speed["14시"].mean(), "15시":speed["15시"].mean(), 
"16시":speed["16시"].mean(), "17시":speed["17시"].mean(), "18시":speed["18시"].mean(), "19시":speed["19시"].mean(), "20시":speed["20시"].mean(), 
"21시":speed["21시"].mean(), "22시":speed["22시"].mean(), "23시":speed["23시"].mean(), "24시":speed["24시"].mean()}, inplace = True)

In [24]:
# 같은 도로 내 상행/하행/구분 도로명으로 그룹
speed = speed.groupby(["도로명"]).mean()
speed

,01시,02시,03시,04시,05시,06시,07시,08시,09시,10시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
도로명,,,,,,,,,,,,,,,,,,,,,
4.19로,34.905535,31.623343,38.341203,44.902359,50.861812,36.994757,33.809199,30.125467,30.327092,28.886419,...,28.601757,27.947354,35.407547,33.953436,28.479766,30.109368,28.362373,32.902490,33.391292,32.723855
가락로,25.342005,28.419939,29.805899,30.674573,30.811832,28.294849,25.702801,23.360139,20.728404,19.429373,...,17.244300,16.766153,16.402367,16.214608,16.208069,16.909963,18.244877,19.333259,20.368794,22.556129
가로공원로,26.347548,27.409842,27.973463,28.299071,27.997116,26.730866,25.591697,24.396073,22.964205,22.956337,...,21.838471,21.740337,21.426169,20.879674,20.293449,20.747422,22.228600,22.773171,23.444708,24.709093
가로공원로76길,22.305828,25.023797,26.358402,26.922623,25.147110,22.389436,20.083919,18.153475,16.285897,15.363528,...,14.190609,13.664915,13.399961,13.409409,13.381232,14.109739,15.025992,15.693562,16.899477,18.702230
가마산로,28.541231,30.080257,31.202144,31.824503,31.781212,29.395648,28.905983,27.932086,25.445021,24.734679,...,23.602273,23.237386,23.046907,22.339184,21.516223,22.749308,25.465274,26.109749,26.247456,27.403361
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
효자로,25.198577,27.522560,28.099668,30.649959,31.690684,27.020427,23.296611,21.203732,19.465904,18.937400,...,18.629588,18.483759,18.308550,18.293767,17.673168,17.991556,19.509018,20.277804,21.038348,22.898899
효창원로,25.472442,26.967982,27.805862,28.447464,28.374636,26.742143,25.071237,23.035766,20.886359,19.984061,...,19.071434,19.123869,19.113506,19.107958,18.957179,19.152444,20.009688,20.957514,21.900817,23.260460
후암로,24.106100,26.835865,28.380445,29.450261,29.822844,26.426090,23.275441,20.647829,19.012598,18.557791,...,17.258426,17.061072,17.034946,16.810698,16.312070,16.866105,17.981196,18.876236,19.561949,20.818172
휘경로,27.566952,29.113916,30.376389,31.398836,31.427328,30.310490,28.867093,26.558318,24.418070,23.856865,...,24.358477,24.034621,23.821421,23.296582,23.088957,23.652206,24.408884,24.792489,25.440628,26.618020
희우정로,24.927934,28.216261,29.690567,30.343448,29.246967,26.957552,23.613139,21.889232,21.166379,21.103060,...,19.853978,20.036250,19.958451,19.929471,19.403912,18.990665,18.981484,19.493206,20.379867,21.730255

In [25]:
speed.to_excel("speed.xlsx")

In [29]:
speed_excel = pd.read_excel('C:/Users/doong/Desktop/2021-2학기/창종설/speed.xlsx', header = 0)

In [30]:
speed_final = pd.DataFrame([],columns=[speed_excel.keys()[0], "시간대", "속도"])
for i in range(len(speed_excel)):
    for j in range(1, 25):
        speed_final.loc[len(speed_final)] = [speed_excel.iloc[i,0], f'0{j}시' if j < 10 else f'{j}시', speed_excel.iloc[i,j]]
speed_final

         도로명  시간대         속도
0      4.19로  01시  34.905535
1      4.19로  02시  31.623343
2      4.19로  03시  38.341203
3      4.19로  04시  44.902359
4      4.19로  05시  50.861812
...      ...  ...        ...
12115   희우정로  20시  18.990665
12116   희우정로  21시  18.981484
12117   희우정로  22시  19.493206
12118   희우정로  23시  20.379867
12119   희우정로  24시  21.730255

[12120 rows x 3 columns]

In [31]:
# 결측치 확인
speed_final.isnull().sum()

도로명    0
시간대    0
속도     0
dtype: int64

In [34]:
df = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/용산구~중랑구.csv', header = 0, encoding = 'utf-8', low_memory=False )
data = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/서울시 어린이보호구역표준데이터.csv', header = 0, encoding = 'utf-8', low_memory=False )

In [35]:
data.drop(["관리기관명", "관할경찰서명", "소재지지번주소", "데이터기준일자", "제공기관코드"], axis = 1, inplace=True)
# 주소에서 구만 추출 / 주소에서(동) 제거
data["주소(구)"] = ""
for i in range(1649):
    data.iloc[i,1] = data.iloc[i,1].split("(")[0]
    data.iloc[i,9] = data.iloc[i,8].split()[1]
data = data.rename(columns = {"대상시설명" : "시설명"})
data

,시설명,주소,시설종류,위도,경도,CCTV설치여부,CCTV설치대수,보호구역도로폭,제공기관명,주소(구)
0,에반어린이집,서울특별시 강서구 강서로12길 23-7,어린이집,37.532112,126.847959,Y,1.0,6,서울특별시 강서구,강서구
1,구립까치산어린이집,서울특별시 강서구 강서로12길 29-10,어린이집,37.532383,126.848515,Y,1.0,6,서울특별시 강서구,강서구
2,배다리어린이집,서울특별시 강서구 곰달래로15길 25,어린이집,37.531278,126.839543,N,NaN,6,서울특별시 강서구,강서구
3,버클리어린이집,서울특별시 강서구 강서로47바길 21,어린이집,37.552473,126.830123,Y,1.0,6,서울특별시 강서구,강서구
4,구립새하늘어린이집,서울특별시 강서구 강서로17다길 15-14,어린이집,37.533307,126.841415,N,NaN,6,서울특별시 강서구,강서구
...,...,...,...,...,...,...,...,...,...,...
1644,방배병설유치원,서울특별시 서초구 방배중앙로13길 26,유치원,37.486764,126.987137,Y,1.0,1,서울특별시 서초구,서초구
1645,새성민유치원,서울특별시 서초구 효령로 110,유치원,37.480657,126.996119,Y,1.0,1,서울특별시 서초구,서초구
1646,새순유치원,서울특별시 서초구 서초대로15길 57,유치원,37.489064,126.988580,Y,1.0,1,서울특별시 서초구,서초구
1647,서래병설유치원,서울특별시 서초구 방배로 260,유치원,37.496405,126.990157,Y,1.0,1,서울특별시 서초구,서초구
1648,서울청계숲유치원,서울특별시 서초구 청계산로11길 14,유치원,37.447737,127.057744,Y,1.0,1,서울특별시 서초구,서초구

In [36]:
# 주소에서 구만 추출 / 주소에서(동) 제거
df["주소(구)"] = ""
for i in range(223):
    df.iloc[i,2] = df.iloc[i,2].split("(")[0]
    df.iloc[i,1] = df.iloc[i,1].split("(")[0]
    df.iloc[i,8] = df.iloc[i,1].split()[1]
df

,시설명,주소,시설종류,구역지정수,CCTV 수,도로표지판 수,과속방지턱 수,어린이보행자 사고건수,주소(구)
0,도원유치원,서울특별시 용산구 새창로12길 11-8,유치원,2,0,0,3,0,용산구
1,동빙고어린이집,서울특별시 용산구 녹사평대로14길 7,어린이집,1,2,6,4,0,용산구
2,보광어린이집,서울특별시 용산구 보광로12가길 48-4,어린이집,1,2,0,2,0,용산구
3,계성유치원,서울특별시 용산구 효창원로15길 15,유치원,1,0,2,0,0,용산구
4,일민유치원,서울특별시 용산구 효창원로 17,유치원,2,2,13,4,0,용산구
...,...,...,...,...,...,...,...,...,...
218,서울중흥초등학교,서울특별시 중랑구 봉화산로 82,초등학교,4,0,0,0,0,중랑구
219,묵동초등학교,서울특별시 중랑구 동일로138길 27,초등학교,4,0,0,6,0,중랑구
220,수산유치원,서울특별시 중랑구 중랑역로 35-1,유치원,1,0,0,4,0,중랑구
221,세화어린이집,서울특별시 중랑구 동일로123길 125,어린이집,1,0,0,2,0,중랑구
222,한내들어린이집,서울특별시 중랑구 동일로139라길 24,어린이집,1,0,0,3,1,중랑구

In [37]:
# 25개 구 보호구역 데이터와 전체보호구역 데이터 병합
df2 = pd.merge(df, data, on = ["시설명", "주소(구)"])
df2.drop(["주소_y", "시설종류_y","주소(구)", "어린이보행자 사고건수", "제공기관명"], axis = 1, inplace=True)
df2 = df2.rename(columns={"주소_x":"주소", "시설종류_x":"시설종류"})
df2

,시설명,주소,시설종류,구역지정수,CCTV 수,도로표지판 수,과속방지턱 수,위도,경도,CCTV설치여부,CCTV설치대수,보호구역도로폭
0,도원유치원,서울특별시 용산구 새창로12길 11-8,유치원,2,0,0,3,37.538778,126.957624,Y,NaN,6~7
1,동빙고어린이집,서울특별시 용산구 녹사평대로14길 7,어린이집,1,2,6,4,37.523601,126.994009,Y,NaN,6~8
2,보광어린이집,서울특별시 용산구 보광로12가길 48-4,어린이집,1,2,0,2,37.528809,127.000937,Y,NaN,4~5
3,계성유치원,서울특별시 용산구 효창원로15길 15,유치원,1,0,2,0,37.536064,126.950703,Y,NaN,8
4,일민유치원,서울특별시 용산구 효창원로 17,유치원,2,2,13,4,37.534861,126.948616,Y,NaN,15
...,...,...,...,...,...,...,...,...,...,...,...,...
203,서울중흥초등학교,서울특별시 중랑구 봉화산로 82,초등학교,4,0,0,0,37.601635,127.084144,Y,NaN,NaN
204,묵동초등학교,서울특별시 중랑구 동일로138길 27,초등학교,4,0,0,6,37.603359,127.080826,Y,NaN,NaN
205,수산유치원,서울특별시 중랑구 중랑역로 35-1,유치원,1,0,0,4,37.597626,127.075969,Y,NaN,NaN
206,세화어린이집,서울특별시 중랑구 동일로123길 125,어린이집,1,0,0,2,37.599933,127.073783,Y,NaN,NaN
207,한내들어린이집,서울특별시 중랑구 동일로139라길 24,어린이집,1,0,0,3,37.604148,127.074977,Y,NaN,NaN

In [38]:
boho = pd.DataFrame([],columns=[df2.keys()[0], "시간대", df2.keys()[1], df2.keys()[2], df2.keys()[3], df2.keys()[4], df2.keys()[5], df2.keys()[6], df2.keys()[7], 
df2.keys()[8], df2.keys()[9], df2.keys()[10], df2.keys()[11]])
# 보호구역 데이터를 24시간으로 나눔
for i in range(len(df2)):
    for j in range(0, 25):
            boho.loc[len(boho)] = [df2.iloc[i,0], f'0{j}시' if j < 10 else f'{j}시', df2.iloc[i,1], df2.iloc[i,2], df2.iloc[i,3], df2.iloc[i,4],
            df2.iloc[i,5], df2.iloc[i,6], df2.iloc[i,7], df2.iloc[i,8], df2.iloc[i,9], df2.iloc[i,10], df2.iloc[i,11]] 
boho.drop(["CCTV설치대수"], axis =1 , inplace= True)

In [40]:
boho_1 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/20개자치구현황(24시간버전).csv', header = 0, encoding = 'utf-8', low_memory=False )
boho = pd.concat([boho,boho_1])

In [41]:
boho.to_excel("boho.xlsx")

In [42]:
boho

,시설명,시간대,주소,시설종류,구역지정수,CCTV 수,도로표지판 수,과속방지턱 수,위도,경도,CCTV설치여부,보호구역도로폭
0,도원유치원,00시,서울특별시 용산구 새창로12길 11-8,유치원,2,0,0,3,37.538778,126.957624,Y,6~7
1,도원유치원,01시,서울특별시 용산구 새창로12길 11-8,유치원,2,0,0,3,37.538778,126.957624,Y,6~7
2,도원유치원,02시,서울특별시 용산구 새창로12길 11-8,유치원,2,0,0,3,37.538778,126.957624,Y,6~7
3,도원유치원,03시,서울특별시 용산구 새창로12길 11-8,유치원,2,0,0,3,37.538778,126.957624,Y,6~7
4,도원유치원,04시,서울특별시 용산구 새창로12길 11-8,유치원,2,0,0,3,37.538778,126.957624,Y,6~7
...,...,...,...,...,...,...,...,...,...,...,...,...
31531,양재천사유치원,20시,서울특별시 서초구 바우뫼로 99,유치원(일반),0,0,0,0,37.474356,127.031179,Y,1
31532,양재천사유치원,21시,서울특별시 서초구 바우뫼로 99,유치원(일반),0,0,0,0,37.474356,127.031179,Y,1
31533,양재천사유치원,22시,서울특별시 서초구 바우뫼로 99,유치원(일반),0,0,0,0,37.474356,127.031179,Y,1
31534,양재천사유치원,23시,서울특별시 서초구 바우뫼로 99,유치원(일반),0,0,0,0,37.474356,127.031179,Y,1
31535,양재천사유치원,24시,서울특별시 서초구 바우뫼로 99,유치원(일반),0,0,0,0,37.474356,127.031179,Y,1

In [43]:
# 속도 데이터 없는 도로
fix = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/없는 도로 or 길로 표시.csv', header = 0, encoding = 'utf-8', low_memory=False )
fix

        기존     수정
0     영화사로    자양로
1      구의로   아차산로
2     워커힐로   천호대로
3      광장로   아차산로
4     우이천로    삼양로
..     ...    ...
143    충민로    새말로
144  위례성대로  백제고분로
145    성현로    은천로
146    조원로    신사로
147    매봉로    양녕로

[148 rows x 2 columns]

In [44]:
# 도로명 칼럼 생성
boho["도로명"] = ""
for i in range(len(boho)):
    if "로" in boho.iloc[i,2].split()[2]:
        boho.iloc[i,12] = boho.iloc[i,2].split()[2][0:boho.iloc[i,2].split()[2].find("로")+1]
    elif "로" in boho.iloc[i,2].split()[3]:
        boho.iloc[i,12] = boho.iloc[i,2].split()[3][0:boho.iloc[i,2].split()[3].find("로")+1]
    for j in range(len(fix)):
        if fix.iloc[j,0] in boho.iloc[i,2].split()[2]:
            boho.iloc[i,12] = fix.iloc[j,1]
        elif fix.iloc[j,0] in boho.iloc[i,12]:
            boho.iloc[i,12] = fix.iloc[j,1]

In [45]:
boho

,시설명,시간대,주소,시설종류,구역지정수,CCTV 수,도로표지판 수,과속방지턱 수,위도,경도,CCTV설치여부,보호구역도로폭,도로명
0,도원유치원,00시,서울특별시 용산구 새창로12길 11-8,유치원,2,0,0,3,37.538778,126.957624,Y,6~7,새창로
1,도원유치원,01시,서울특별시 용산구 새창로12길 11-8,유치원,2,0,0,3,37.538778,126.957624,Y,6~7,새창로
2,도원유치원,02시,서울특별시 용산구 새창로12길 11-8,유치원,2,0,0,3,37.538778,126.957624,Y,6~7,새창로
3,도원유치원,03시,서울특별시 용산구 새창로12길 11-8,유치원,2,0,0,3,37.538778,126.957624,Y,6~7,새창로
4,도원유치원,04시,서울특별시 용산구 새창로12길 11-8,유치원,2,0,0,3,37.538778,126.957624,Y,6~7,새창로
...,...,...,...,...,...,...,...,...,...,...,...,...,...
31531,양재천사유치원,20시,서울특별시 서초구 바우뫼로 99,유치원(일반),0,0,0,0,37.474356,127.031179,Y,1,바우뫼로
31532,양재천사유치원,21시,서울특별시 서초구 바우뫼로 99,유치원(일반),0,0,0,0,37.474356,127.031179,Y,1,바우뫼로
31533,양재천사유치원,22시,서울특별시 서초구 바우뫼로 99,유치원(일반),0,0,0,0,37.474356,127.031179,Y,1,바우뫼로
31534,양재천사유치원,23시,서울특별시 서초구 바우뫼로 99,유치원(일반),0,0,0,0,37.474356,127.031179,Y,1,바우뫼로
31535,양재천사유치원,24시,서울특별시 서초구 바우뫼로 99,유치원(일반),0,0,0,0,37.474356,127.031179,Y,1,바우뫼로

In [46]:
doro = boho["도로명"].drop_duplicates()
doro.to_excel("doro.xlsx")

In [47]:
# 보호구역 도로폭(숫자 ~ 숫자)형태 처리
for i in range(len(boho)):
     if type(boho.iloc[i,11]) == str and "~" in boho.iloc[i,11]:
        boho.iloc[i,11] = (float(boho.iloc[i,11].split("~")[0]) + float(boho.iloc[i,11].split("~")[1]))/2
boho["보호구역도로폭"] = pd.to_numeric(boho["보호구역도로폭"])

# 도로표지판 수(숫자 ~ 숫자)형태 처리
for i in range(len(boho)):
     if type(boho.iloc[i,6]) == str and "~" in boho.iloc[i,6]:
        boho.iloc[i,6] = (float(boho.iloc[i,6].split("~")[0]) + float(boho.iloc[i,6].split("~")[1]))/2
     elif type(boho.iloc[i,6]) == str and "," in boho.iloc[i,6]:
        boho.iloc[i,6] = (float(boho.iloc[i,6].split(",")[0]) + float(boho.iloc[i,6].split(",")[1]))/2
     elif type(boho.iloc[i,6]) == str and "-" in boho.iloc[i,6]:
        boho.iloc[i,6] = (float(boho.iloc[i,6].split("-")[0]) + float(boho.iloc[i,6].split("-")[1]))/2
boho["도로표지판 수"] = pd.to_numeric(boho["도로표지판 수"])

In [48]:
boho.to_excel("boho_1.xlsx")

In [49]:
# 속도 병합 & 결측치 처리
boho_final = pd.merge(boho, speed_final, on = ["도로명", "시간대"])
boho_final.fillna({"CCTV 수":boho_final["CCTV 수"].mean(), "보호구역도로폭":boho_final["보호구역도로폭"].mean(), 
"도로표지판 수":boho_final["도로표지판 수"].mean()}, inplace = True)

In [50]:
boho_final.isnull().sum()

시설명          0
시간대          0
주소           0
시설종류         0
구역지정수        0
CCTV 수       0
도로표지판 수      0
과속방지턱 수      0
위도          48
경도          72
CCTV설치여부     0
보호구역도로폭      0
도로명          0
속도           0
dtype: int64

In [51]:
boho_final

,시설명,시간대,주소,시설종류,구역지정수,CCTV 수,도로표지판 수,과속방지턱 수,위도,경도,CCTV설치여부,보호구역도로폭,도로명,속도
0,도원유치원,01시,서울특별시 용산구 새창로12길 11-8,유치원,2,0,0.0,3,37.538778,126.957624,Y,6.50,새창로,24.000878
1,새현대유치원,01시,"서울특별시 마포구 새창로 52 (도화동, 도화동현대아파트)",유치원(일반),3,0,0.0,5,37.540387,126.953599,Y,12.35,새창로,24.000878
2,도원유치원,02시,서울특별시 용산구 새창로12길 11-8,유치원,2,0,0.0,3,37.538778,126.957624,Y,6.50,새창로,25.932575
3,새현대유치원,02시,"서울특별시 마포구 새창로 52 (도화동, 도화동현대아파트)",유치원(일반),3,0,0.0,5,37.540387,126.953599,Y,12.35,새창로,25.932575
4,도원유치원,03시,서울특별시 용산구 새창로12길 11-8,유치원,2,0,0.0,3,37.538778,126.957624,Y,6.50,새창로,27.128114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36235,구립서초남서울어린이집,20시,서울특별시 서초구 반포대로 310-5 (잠원동),어린이집,1,0,0.0,1,37.506831,127.000883,N,1.00,반포대로,23.216505
36236,구립서초남서울어린이집,21시,서울특별시 서초구 반포대로 310-5 (잠원동),어린이집,1,0,0.0,1,37.506831,127.000883,N,1.00,반포대로,27.570112
36237,구립서초남서울어린이집,22시,서울특별시 서초구 반포대로 310-5 (잠원동),어린이집,1,0,0.0,1,37.506831,127.000883,N,1.00,반포대로,29.632731
36238,구립서초남서울어린이집,23시,서울특별시 서초구 반포대로 310-5 (잠원동),어린이집,1,0,0.0,1,37.506831,127.000883,N,1.00,반포대로,31.041454
36239,구립서초남서울어린이집,24시,서울특별시 서초구 반포대로 310-5 (잠원동),어린이집,1,0,0.0,1,37.506831,127.000883,N,1.00,반포대로,34.509565

In [52]:
boho_final.to_excel("boho_final.xlsx")

In [53]:
# 생활인구 데이터 병합을 위한 도로명 칼럼 재처리
for i in range(len(boho_final)):
    boho_final.loc[i,"new_도로명"] = np.nan
    boho_final.loc[i,"행정동"] = np.nan
    address = boho_final.loc[i, "주소"].split()
    for j in address:
        if j[-1] == "길" or j[-1] == "로":
            boho_final.loc[i, "new_도로명"] = j

        elif j[0] == "(":
            boho_final.loc[i,"행정동"] = j[1:-1]
boho_final

,시설명,시간대,주소,시설종류,구역지정수,CCTV 수,도로표지판 수,과속방지턱 수,위도,경도,CCTV설치여부,보호구역도로폭,도로명,속도,new_도로명,행정동
0,도원유치원,01시,서울특별시 용산구 새창로12길 11-8,유치원,2,0,0.0,3,37.538778,126.957624,Y,6.50,새창로,24.000878,새창로12길,NaN
1,새현대유치원,01시,"서울특별시 마포구 새창로 52 (도화동, 도화동현대아파트)",유치원(일반),3,0,0.0,5,37.540387,126.953599,Y,12.35,새창로,24.000878,새창로,도화동
2,도원유치원,02시,서울특별시 용산구 새창로12길 11-8,유치원,2,0,0.0,3,37.538778,126.957624,Y,6.50,새창로,25.932575,새창로12길,NaN
3,새현대유치원,02시,"서울특별시 마포구 새창로 52 (도화동, 도화동현대아파트)",유치원(일반),3,0,0.0,5,37.540387,126.953599,Y,12.35,새창로,25.932575,새창로,도화동
4,도원유치원,03시,서울특별시 용산구 새창로12길 11-8,유치원,2,0,0.0,3,37.538778,126.957624,Y,6.50,새창로,27.128114,새창로12길,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36235,구립서초남서울어린이집,20시,서울특별시 서초구 반포대로 310-5 (잠원동),어린이집,1,0,0.0,1,37.506831,127.000883,N,1.00,반포대로,23.216505,반포대로,잠원동
36236,구립서초남서울어린이집,21시,서울특별시 서초구 반포대로 310-5 (잠원동),어린이집,1,0,0.0,1,37.506831,127.000883,N,1.00,반포대로,27.570112,반포대로,잠원동
36237,구립서초남서울어린이집,22시,서울특별시 서초구 반포대로 310-5 (잠원동),어린이집,1,0,0.0,1,37.506831,127.000883,N,1.00,반포대로,29.632731,반포대로,잠원동
36238,구립서초남서울어린이집,23시,서울특별시 서초구 반포대로 310-5 (잠원동),어린이집,1,0,0.0,1,37.506831,127.000883,N,1.00,반포대로,31.041454,반포대로,잠원동
36239,구립서초남서울어린이집,24시,서울특별시 서초구 반포대로 310-5 (잠원동),어린이집,1,0,0.0,1,37.506831,127.000883,N,1.00,반포대로,34.509565,반포대로,잠원동

In [54]:
area_people_dong = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/행정동별 생활인구수.csv', header = 0, encoding = 'utf-8', low_memory=False )
area_people_dong.drop(["Unnamed: 0"], axis = 1, inplace = True)
area_people_dong

      시군구명   행정동  시간대구분       총생활인구수
0      송파구  가락1동      0  18673.94118
1      송파구  가락1동      1  18570.89405
2      송파구  가락1동      2  18384.49940
3      송파구  가락1동      3  18360.71952
4      송파구  가락1동      4  18488.00761
...    ...   ...    ...          ...
10171  동작구   흑석동     19  34619.62993
10172  동작구   흑석동     20  34657.61834
10173  동작구   흑석동     21  34613.39108
10174  동작구   흑석동     22  34564.59358
10175  동작구   흑석동     23  34620.13810

[10176 rows x 4 columns]

In [55]:
# boho_final의 행정동 결측치 수작업 후 데이터
boho_final_2 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/tmp2.csv', header = 0, encoding = 'utf-8', low_memory=False )

In [56]:
boho_final_2.drop(["Unnamed: 0", "Unnamed: 0.1"], axis = 1, inplace = True)

In [57]:
# 위도 경도 결측치
for i in range(len(boho_final_2)):
    if boho_final_2.iloc[i,0] == "서울신자초등학교":
        boho_final_2.iloc[i,8] = 37.530017
    elif boho_final_2.iloc[i,0] == "신자병설유치원":
        boho_final_2.iloc[i,9] = 127.073328
    elif boho_final_2.iloc[i,0] == "우현유치원":
        boho_final_2.iloc[i,8] = 37.557288
        boho_final_2.iloc[i,9] = 126.838145
    elif boho_final_2.iloc[i,0] == "동원초등학교병설유치원":
        boho_final_2.iloc[i,9] = 127.105223

In [58]:
boho_final_2

,시설명,시간대구분,주소,시설종류,구역지정수,CCTV 수,도로표지판 수,과속방지턱 수,위도,경도,CCTV설치여부,보호구역도로폭,tmp,속도,도로명,행정동
0,GKL행복어린이집,0,서울특별시 강남구 삼성로122길 7 (삼성동),어린이집,1,0,12.0,0,37.510432,127.051243,Y,0.0,삼성로,31.456076,삼성로122길,삼성동
1,GKL행복어린이집,1,서울특별시 강남구 삼성로122길 7 (삼성동),어린이집,1,0,12.0,0,37.510432,127.051243,Y,0.0,삼성로,33.429893,삼성로122길,삼성동
2,GKL행복어린이집,2,서울특별시 강남구 삼성로122길 7 (삼성동),어린이집,1,0,12.0,0,37.510432,127.051243,Y,0.0,삼성로,34.805693,삼성로122길,삼성동
3,GKL행복어린이집,3,서울특별시 강남구 삼성로122길 7 (삼성동),어린이집,1,0,12.0,0,37.510432,127.051243,Y,0.0,삼성로,35.918108,삼성로122길,삼성동
4,GKL행복어린이집,4,서울특별시 강남구 삼성로122길 7 (삼성동),어린이집,1,0,12.0,0,37.510432,127.051243,Y,0.0,삼성로,36.202873,삼성로122길,삼성동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36235,희망찬유치원,19,"서울특별시 성북구 동소문로34길 24 (돈암동, 삼성아파트)",유치원(일반),1,0,10.0,12,37.598991,127.023142,Y,0.0,동소문로,21.817000,동소문로34길,돈암1동
36236,희망찬유치원,20,"서울특별시 성북구 동소문로34길 24 (돈암동, 삼성아파트)",유치원(일반),1,0,10.0,12,37.598991,127.023142,Y,0.0,동소문로,23.822128,동소문로34길,돈암1동
36237,희망찬유치원,21,"서울특별시 성북구 동소문로34길 24 (돈암동, 삼성아파트)",유치원(일반),1,0,10.0,12,37.598991,127.023142,Y,0.0,동소문로,25.198088,동소문로34길,돈암1동
36238,희망찬유치원,22,"서울특별시 성북구 동소문로34길 24 (돈암동, 삼성아파트)",유치원(일반),1,0,10.0,12,37.598991,127.023142,Y,0.0,동소문로,25.892208,동소문로34길,돈암1동
36239,희망찬유치원,23,"서울특별시 성북구 동소문로34길 24 (돈암동, 삼성아파트)",유치원(일반),1,0,10.0,12,37.598991,127.023142,Y,0.0,동소문로,27.840989,동소문로34길,돈암1동

In [59]:
boho_final_3 = pd.merge(boho_final_2, area_people_dong, on = ["행정동","시간대구분"])
boho_final_3.to_excel("boho_final_3.xlsx")

In [60]:
for i in range(len(boho_final_3)):
    if boho_final_3.iloc[i,0][-4:] == "초등학교" and boho_final_3.iloc[i,0][:2] != "서울":
        boho_final_3.iloc[i,0]="서울"+boho_final_3.iloc[i,0]

In [61]:
boho_final_3

,시설명,시간대구분,주소,시설종류,구역지정수,CCTV 수,도로표지판 수,과속방지턱 수,위도,경도,CCTV설치여부,보호구역도로폭,tmp,속도,도로명,행정동,시군구명,총생활인구수
0,GKL행복어린이집,0,서울특별시 강남구 삼성로122길 7 (삼성동),어린이집,1,0,12.0,0,37.510432,127.051243,Y,0.0,삼성로,31.456076,삼성로122길,삼성동,관악구,26699.49457
1,강남구청직장어린이집,0,서울특별시 강남구 학동로 426 (삼성동),어린이집,1,0,8.0,0,37.517966,127.047061,Y,0.0,학동로,26.859204,학동로,삼성동,관악구,26699.49457
2,서울봉은초등학교,0,서울특별시 강남구 학동로 610 (삼성동),초등학교,3,0,6.0,0,37.520083,127.060981,Y,0.0,학동로,26.859204,학동로,삼성동,관악구,26699.49457
3,서울삼릉초등학교,0,서울특별시 강남구 봉은사로63길 22 (삼성동),초등학교,4,0,5.4,0,37.513260,127.046914,Y,0.0,봉은사로,26.357603,봉은사로63길,삼성동,관악구,26699.49457
4,삼성어린이집,0,서울특별시 강남구 영동대로122길 7-6 (삼성동),어린이집,1,0,6.0,0,37.496636,127.058851,Y,0.0,영동대로,35.189528,영동대로122길,삼성동,관악구,26699.49457
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36235,서울행현초등학교,21,서울특별시 성동구 행당로 95 (행당동),초등학교,2,0,16.0,0,37.557710,127.029358,Y,0.0,왕십리로,24.868535,행당로,행당2동,성동구,20223.94717
36236,행응어린이집,22,서울특별시 성동구 독서당로63길 34 (행당동),어린이집,2,2,7.0,0,37.553126,127.031303,Y,5.0,독서당로,24.009614,독서당로63길,행당2동,성동구,21452.87618
36237,서울행현초등학교,22,서울특별시 성동구 행당로 95 (행당동),초등학교,2,0,16.0,0,37.557710,127.029358,Y,0.0,왕십리로,25.759418,행당로,행당2동,성동구,21452.87618
36238,행응어린이집,23,서울특별시 성동구 독서당로63길 34 (행당동),어린이집,2,2,7.0,0,37.553126,127.031303,Y,5.0,독서당로,25.667080,독서당로63길,행당2동,성동구,21642.52155
36239,서울행현초등학교,23,서울특별시 성동구 행당로 95 (행당동),초등학교,2,0,16.0,0,37.557710,127.029358,Y,0.0,왕십리로,27.444685,행당로,행당2동,성동구,21642.52155

In [62]:
boho_final_3.isnull().sum()

시설명         0
시간대구분       0
주소          0
시설종류        0
구역지정수       0
CCTV 수      0
도로표지판 수     0
과속방지턱 수     0
위도          0
경도          0
CCTV설치여부    0
보호구역도로폭     0
tmp         0
속도          0
도로명         0
행정동         0
시군구명        0
총생활인구수      0
dtype: int64

In [63]:
# 시설명 중복 처리
tmp_dic={}
for i in range(len(boho_final_3)):
    if boho_final_3.iloc[i,0] not in tmp_dic:
        tmp_dic[boho_final_3.iloc[i,0]]=1
    else:
        tmp_dic[boho_final_3.iloc[i,0]]+=1

In [64]:
Print=[]
for i in tmp_dic:
    if tmp_dic[i]>24:
        Print.append(i)

In [65]:
for i in range(len(boho_final_3)):
    if boho_final_3.iloc[i,0] in Print:
        boho_final_3.iloc[i,0]=f'{boho_final_3.iloc[i,0]}({boho_final_3.loc[i,"시군구명"]})'

In [66]:
boho_final_3.to_excel("boho_final_3.xlsx")

In [67]:
accident_final = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/사고 데이터/accident(final).csv', header = 0, encoding = 'utf-8', low_memory=False )

In [68]:
accident_final.drop(["사고일시","행정동","Unnamed: 0"],axis=1, inplace=True)

In [69]:
accident_final

,시군구,사망자수,중상자수,경상자수,부상신고자수,가해운전자 차종,피해운전자 차종,피해운전자 연령,시간대,시설명
0,서울특별시 구로구 구로동,0,1,0,0,5,8,34.0,19시,LG전자구로어린이집
1,서울특별시 송파구 가락동,0,0,1,0,5,8,85.0,12시,가락초등학교
2,서울특별시 강서구 가양동,0,1,0,0,5,8,58.0,01시,가양초등학교
3,서울특별시 도봉구 쌍문동,0,0,0,1,5,8,40.0,11시,가인초등학교
4,서울특별시 도봉구 창동,0,0,1,0,5,1,40.0,06시,가인초등학교
...,...,...,...,...,...,...,...,...,...,...
1391,서울특별시 동작구 흑석동,0,0,0,1,7,8,61.0,15시,서울흑석초등학교
1392,서울특별시 동작구 흑석동,0,0,1,0,5,8,55.0,21시,중앙대부속초등학교
1393,서울특별시 중구 신당동,0,1,1,0,2,6,20.0,19시,흥인초등학교
1394,서울특별시 중구 신당동,0,1,0,0,7,8,46.0,22시,흥인초등학교
1395,서울특별시 성북구 돈암동,0,0,1,0,2,6,26.0,18시,희망찬유치원

In [70]:
for i in range(len(accident_final)):
    accident_final.iloc[i,8] = int(accident_final.iloc[i,8][0:2])

In [71]:
accident_final.rename(columns = {"시간대":"시간대구분"}, inplace=True)

In [72]:
accident_final["시군구명"]=""
for i in range(len(accident_final)):
    accident_final.iloc[i,-1] = accident_final.iloc[i,0].split()[1]

In [73]:
for i in range(len(accident_final)):
    if accident_final.iloc[i,9][-4:] == "초등학교" and accident_final.iloc[i,9][:2] != "서울":
        accident_final.iloc[i,9]="서울"+accident_final.iloc[i,9]

In [74]:
for i in range(len(accident_final)):
    if accident_final.iloc[i,9] in Print:
        accident_final.iloc[i,9]=f'{accident_final.iloc[i,9]}({accident_final.loc[i,"시군구명"]})'

In [75]:
accident_final.drop(["시군구명"], axis=1, inplace=True)

In [76]:
accident_final.to_excel("accident_final.xlsx")

In [77]:
accident_final

,시군구,사망자수,중상자수,경상자수,부상신고자수,가해운전자 차종,피해운전자 차종,피해운전자 연령,시간대구분,시설명
0,서울특별시 구로구 구로동,0,1,0,0,5,8,34.0,19,LG전자구로어린이집
1,서울특별시 송파구 가락동,0,0,1,0,5,8,85.0,12,서울가락초등학교
2,서울특별시 강서구 가양동,0,1,0,0,5,8,58.0,1,서울가양초등학교
3,서울특별시 도봉구 쌍문동,0,0,0,1,5,8,40.0,11,서울가인초등학교
4,서울특별시 도봉구 창동,0,0,1,0,5,1,40.0,6,서울가인초등학교
...,...,...,...,...,...,...,...,...,...,...
1391,서울특별시 동작구 흑석동,0,0,0,1,7,8,61.0,15,서울흑석초등학교
1392,서울특별시 동작구 흑석동,0,0,1,0,5,8,55.0,21,서울중앙대부속초등학교
1393,서울특별시 중구 신당동,0,1,1,0,2,6,20.0,19,서울흥인초등학교
1394,서울특별시 중구 신당동,0,1,0,0,7,8,46.0,22,서울흥인초등학교
1395,서울특별시 성북구 돈암동,0,0,1,0,2,6,26.0,18,희망찬유치원

In [82]:
accident_final["사고 수"] = 1

In [83]:
accident_final = accident_final.groupby(["시간대구분", "시설명"], as_index=False).sum()

In [84]:
for i in range(len(accident_final)):
    accident_final.iloc[i,6] = accident_final.iloc[i,6] / accident_final.iloc[i,-1]
    accident_final.iloc[i,7] = accident_final.iloc[i,7] / accident_final.iloc[i,-1]
    accident_final.iloc[i,8] = accident_final.iloc[i,8] / accident_final.iloc[i,-1]

In [85]:
accident_final

,시간대구분,시설명,사망자수,중상자수,경상자수,부상신고자수,가해운전자 차종,피해운전자 차종,피해운전자 연령,사고 수
0,0,구립아이솔어린이집,0,0,1,0,5.0,3.0,31.0,1
1,0,동그라미유치원(동작구),0,1,0,0,2.0,6.0,32.0,1
2,0,새삼선유치원,0,0,2,0,5.0,3.0,43.0,1
3,0,서울갈현초등학교,0,0,1,0,5.0,2.0,53.0,1
4,0,서울강일초등학교,0,0,1,0,7.0,1.0,57.0,1
...,...,...,...,...,...,...,...,...,...,...
1277,23,세종유치원(종로구),0,0,1,0,5.0,3.0,50.0,1
1278,23,신원어린이집,0,1,0,0,5.0,8.0,54.0,1
1279,23,예대어린이집,0,0,1,0,2.0,3.0,51.0,1
1280,23,옥인유치원,0,0,1,0,7.0,3.0,45.0,1
1281,23,은하유치원(성북구),0,0,1,0,7.0,8.0,63.0,1

In [86]:
boho_final_4 = pd.merge(boho_final_3, accident_final, how = "left", on = ["시설명","시간대구분"])

In [87]:
boho_final_4

,시설명,시간대구분,주소,시설종류,구역지정수,CCTV 수,도로표지판 수,과속방지턱 수,위도,경도,...,시군구명,총생활인구수,사망자수,중상자수,경상자수,부상신고자수,가해운전자 차종,피해운전자 차종,피해운전자 연령,사고 수
0,GKL행복어린이집,0,서울특별시 강남구 삼성로122길 7 (삼성동),어린이집,1,0,12.0,0,37.510432,127.051243,...,관악구,26699.49457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,강남구청직장어린이집,0,서울특별시 강남구 학동로 426 (삼성동),어린이집,1,0,8.0,0,37.517966,127.047061,...,관악구,26699.49457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,서울봉은초등학교,0,서울특별시 강남구 학동로 610 (삼성동),초등학교,3,0,6.0,0,37.520083,127.060981,...,관악구,26699.49457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,서울삼릉초등학교,0,서울특별시 강남구 봉은사로63길 22 (삼성동),초등학교,4,0,5.4,0,37.513260,127.046914,...,관악구,26699.49457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,삼성어린이집(관악구),0,서울특별시 강남구 영동대로122길 7-6 (삼성동),어린이집,1,0,6.0,0,37.496636,127.058851,...,관악구,26699.49457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36235,서울행현초등학교,21,서울특별시 성동구 행당로 95 (행당동),초등학교,2,0,16.0,0,37.557710,127.029358,...,성동구,20223.94717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36236,행응어린이집,22,서울특별시 성동구 독서당로63길 34 (행당동),어린이집,2,2,7.0,0,37.553126,127.031303,...,성동구,21452.87618,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36237,서울행현초등학교,22,서울특별시 성동구 행당로 95 (행당동),초등학교,2,0,16.0,0,37.557710,127.029358,...,성동구,21452.87618,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36238,행응어린이집,23,서울특별시 성동구 독서당로63길 34 (행당동),어린이집,2,2,7.0,0,37.553126,127.031303,...,성동구,21642.52155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36239,서울행현초등학교,23,서울특별시 성동구 행당로 95 (행당동),초등학교,2,0,16.0,0,37.557710,127.029358,...,성동구,21642.52155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [134]:
boho_final_4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36240 entries, 0 to 36239
Data columns (total 26 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시설명       36240 non-null  object
 1   시간대구분     36240 non-null  int64
 2   주소        36240 non-null  object
 3   시설종류      36240 non-null  object
 4   구역지정수     36240 non-null  int64
 5   CCTV 수    36240 non-null  int64
 6   도로표지판 수   36240 non-null  float64
 7   과속방지턱 수   36240 non-null  int64
 8   위도        36240 non-null  float64
 9   경도        36240 non-null  float64
 10  CCTV설치여부  36240 non-null  object
 11  보호구역도로폭   36240 non-null  float64
 12  tmp       36240 non-null  object
 13  속도        36240 non-null  float64
 14  도로명       36240 non-null  object
 15  행정동       36240 non-null  object
 16  시군구명      36240 non-null  object
 17  총생활인구수    36240 non-null  float64
 18  사망자수      1277 non-null   float64
 19  중상자수      1277 non-null   float64
 20  경상자수      1277 non-null   float64
 21  부상신고자수    1277 non-null   float64
 22  가해운전자 차종  1277 non-null   float64
 23  피해운전자 차종  1277 non-null   float64
 24  피해운전자 연령  1277 non-null   float64
 25  사고 수      1277 non-null   float64
dtypes: float64(14), int64(4), object(8)
memory usage: 7.5+ MB

In [88]:
boho_final_4.to_excel("boho_final_4.xlsx")

In [125]:
traffic_raw = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/통행량.csv', header = 0, encoding = 'utf-8', low_memory=False )

In [127]:
traffic_raw.drop(["지점번호","주소","도로명 주소","유입 방향","유출방향"],axis=1, inplace=True)

In [128]:
traffic_raw

            지점명칭         위도          경도
0      성산로(금화터널)  37.568588  126.948436
1      사직로(사직터널)  37.572298  126.962853
2    자하문로(자하문터널)  37.588831  126.968548
3     대사관로(삼청터널)  37.596359  126.984209
4       율곡로(안국역)  37.576000  126.984342
..           ...        ...         ...
130       동부간선도로  37.568685  127.076023
131       경부고속도로  37.493135  127.022533
132        분당수서로  37.497648  127.087195
133  강남순환로(관악터널)  37.449096  126.926169
134       서부간선도로  37.520965  126.881826

[135 rows x 3 columns]

In [132]:
traffic_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135 entries, 0 to 134
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지점명칭    135 non-null    object
 1   위도      135 non-null    float64
 2   경도      135 non-null    float64
dtypes: float64(2), object(1)
memory usage: 3.3+ KB

In [144]:
import sys
import math
boho_final_4["통행량 도로명"]= ""
for i in range(len(boho_final_4)):
    mse = sys.maxsize
    tmp=""
    for j in range(len(traffic_raw)):
        tmp_mse=math.pow(boho_final_4.iloc[i,8]-traffic_raw.iloc[j,1],2)+math.pow(boho_final_4.iloc[i,9]-traffic_raw.iloc[j,2],2)
        if tmp_mse<mse:
            mse=tmp_mse
            tmp=traffic_raw.iloc[j,0]
    boho_final_4.loc[i,"통행량 도로명"]=tmp

In [146]:
boho_final_4.to_excel("boho_final_4.xlsx")

In [234]:
boho_final_4 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/boho_final_4.csv', header = 0, encoding = 'utf-8', low_memory=False )

In [235]:
boho_final_4.drop(["Unnamed: 0"], axis=1, inplace=True)

In [243]:
boho_final_4

,시설명,시간대구분,주소,시설종류,구역지정수,CCTV 수,도로표지판 수,과속방지턱 수,위도,경도,...,총생활인구수,사망자수,중상자수,경상자수,부상신고자수,가해운전자 차종,피해운전자 차종,피해운전자 연령,사고 수,통행량 도로명
0,GKL행복어린이집,0,서울특별시 강남구 삼성로122길 7 (삼성동),어린이집,1,0,12.0,0,37.510432,127.051243,...,26699.49457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,테헤란로(선릉역)
1,강남구청직장어린이집,0,서울특별시 강남구 학동로 426 (삼성동),어린이집,1,0,8.0,0,37.517966,127.047061,...,26699.49457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,테헤란로(선릉역)
2,서울봉은초등학교,0,서울특별시 강남구 학동로 610 (삼성동),초등학교,3,0,6.0,0,37.520083,127.060981,...,26699.49457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,청담대교
3,서울삼릉초등학교,0,서울특별시 강남구 봉은사로63길 22 (삼성동),초등학교,4,0,5.4,0,37.513260,127.046914,...,26699.49457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,테헤란로(선릉역)
4,삼성어린이집(관악구),0,서울특별시 강남구 영동대로122길 7-6 (삼성동),어린이집,1,0,6.0,0,37.496636,127.058851,...,26699.49457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,테헤란로(선릉역)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36235,서울행현초등학교,21,서울특별시 성동구 행당로 95 (행당동),초등학교,2,0,16.0,0,37.557710,127.029358,...,20223.94717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,퇴계로(신당역)
36236,행응어린이집,22,서울특별시 성동구 독서당로63길 34 (행당동),어린이집,2,2,7.0,0,37.553126,127.031303,...,21452.87618,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,뚝섬로(용비교)
36237,서울행현초등학교,22,서울특별시 성동구 행당로 95 (행당동),초등학교,2,0,16.0,0,37.557710,127.029358,...,21452.87618,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,퇴계로(신당역)
36238,행응어린이집,23,서울특별시 성동구 독서당로63길 34 (행당동),어린이집,2,2,7.0,0,37.553126,127.031303,...,21642.52155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,뚝섬로(용비교)
36239,서울행현초등학교,23,서울특별시 성동구 행당로 95 (행당동),초등학교,2,0,16.0,0,37.557710,127.029358,...,21642.52155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,퇴계로(신당역)

In [258]:
traffic = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/traffic_start.csv', header = 0, encoding = 'utf-8', low_memory=False )

In [259]:
traffic.drop(["주소","도로명","위도","경도"], axis=1, inplace=True)

In [260]:
traffic.rename(columns={"지점명":"통행량 도로명"}, inplace=True)

In [261]:
traffic

        통행량 도로명          통행량  시간대구분
0          가양대교   809.849267      0
1          가양대교   546.695207      1
2          가양대교   391.760086      2
3          가양대교   320.259190      3
4          가양대교   353.127919      4
...         ...          ...    ...
6835  화랑로(화랑대역)  1797.089406     19
6836  화랑로(화랑대역)  1764.157896     20
6837  화랑로(화랑대역)  1769.696755     21
6838  화랑로(화랑대역)  1634.732259     22
6839  화랑로(화랑대역)  1436.498055     23

[6840 rows x 3 columns]

In [263]:
boho_final_5 = pd.merge(boho_final_4, traffic, on=["통행량 도로명", "시간대구분"])

In [264]:
boho_final_5

,시설명,시간대구분,주소,시설종류,구역지정수,CCTV 수,도로표지판 수,과속방지턱 수,위도,경도,...,사망자수,중상자수,경상자수,부상신고자수,가해운전자 차종,피해운전자 차종,피해운전자 연령,사고 수,통행량 도로명,통행량
0,GKL행복어린이집,0,서울특별시 강남구 삼성로122길 7 (삼성동),어린이집,1,0,12.0,0,37.510432,127.051243,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,테헤란로(선릉역),903.858124
1,강남구청직장어린이집,0,서울특별시 강남구 학동로 426 (삼성동),어린이집,1,0,8.0,0,37.517966,127.047061,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,테헤란로(선릉역),903.858124
2,서울삼릉초등학교,0,서울특별시 강남구 봉은사로63길 22 (삼성동),초등학교,4,0,5.4,0,37.513260,127.046914,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,테헤란로(선릉역),903.858124
3,삼성어린이집(관악구),0,서울특별시 강남구 영동대로122길 7-6 (삼성동),어린이집,1,0,6.0,0,37.496636,127.058851,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,테헤란로(선릉역),903.858124
4,서울정애학교,0,서울특별시 강남구 봉은사로81길 16 (삼성동),특수학교,2,0,6.0,0,37.514363,127.054425,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,테헤란로(선릉역),903.858124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36235,일신유치원,19,서울특별시 중구 퇴계로6길 36,유치원,1,0,0.0,0,37.556706,126.978900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,퇴계로(회현역),1152.756060
36236,일신유치원,20,서울특별시 중구 퇴계로6길 36,유치원,1,0,0.0,0,37.556706,126.978900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,퇴계로(회현역),1084.781977
36237,일신유치원,21,서울특별시 중구 퇴계로6길 36,유치원,1,0,0.0,0,37.556706,126.978900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,퇴계로(회현역),1112.964187
36238,일신유치원,22,서울특별시 중구 퇴계로6길 36,유치원,1,0,0.0,0,37.556706,126.978900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,퇴계로(회현역),1024.956269
36239,일신유치원,23,서울특별시 중구 퇴계로6길 36,유치원,1,0,0.0,0,37.556706,126.978900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,퇴계로(회현역),789.780198

In [265]:
boho_final_5.to_excel("boho_final_5.xlsx")

In [266]:
boho_final_5.isnull().sum()

시설명             0
시간대구분           0
주소              0
시설종류            0
구역지정수           0
CCTV 수          0
도로표지판 수         0
과속방지턱 수         0
위도              0
경도              0
CCTV설치여부        0
보호구역도로폭         0
tmp             0
속도              0
도로명             0
행정동             0
시군구명            0
총생활인구수          0
사망자수        34963
중상자수        34963
경상자수        34963
부상신고자수      34963
가해운전자 차종    34963
피해운전자 차종    34963
피해운전자 연령    34963
사고 수        34963
통행량 도로명         0
통행량             0
dtype: int64

In [2]:
boho_final_6 = pd.read_csv('C:/Users/doong/Desktop/2021-2학기/창종설/boho_final_5.csv', header = 0, encoding = 'utf-8', low_memory=False )

In [4]:
boho_final_6.drop(["Unnamed: 0"], axis = 1, inplace = True)

In [9]:
boho_final_6 = boho_final_6.fillna(0)

In [7]:
boho_final_6.to_excel("boho_final_6.xlsx")